.chat-main
  .chat-main__group-info
    .left-test-box
      .test-box
        = @group.name
      .message-box
        Member:
        - @group.users.each do |user|
          = user.name
    .right-box
      = link_to edit_group_path(@group), class: 'right-box__link' do
        .right-box__link__edit
          .edit-btn
            Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message], class: "form" do |f|
      .form__new-message
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'file' do
          %i.fa.fa-image
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'