.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to new_group_path, class: 'side-bar__user-name__top-items__icons__edit' do
          = icon('fas', 'pen-square')
        = link_to edit_user_path(current_user), class: 'side-bar__user-name__top-items__icons__cog' do
          = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__box
        = link_to group_messages_path(group), class: 'group' do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
